@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: rgb(242, 242, 242);
  font-family: Inter;
}

header {
  z-index: 100;
}


.react-multi-carousel-list button {
  z-index: 1;
  height: 80px;
  border-radius: 0px;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 2px rgb(56, 56, 56, 0.5);
}

.react-multi-carousel-list button::before {
  color: gray;
  font-size: 14px;
  font-weight: bolder;
  padding: 0px;
}

.react-multi-carousel-list button:hover {
  background-color: rgb(238, 238, 238);
}

.react-multi-carousel-list .react-multiple-carousel__arrow--left {
  left: 0;
  border-radius: 0px 5px 5px 0px;
}

.react-multi-carousel-list .react-multiple-carousel__arrow--right {
  right: 0;
  border-radius: 5px 0px 0px 5px;
}